### Composer ###
composer.phar
vendor/

### LOGS ###
logs
*.log

### ENV ###
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### CACHE ###
cache

### APACHE ###
!.htaccess
