.c-select {
	background: var(--accent-color);
	color: var(--accent-text-color);
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	border-radius: 0.5rem;
	cursor: pointer;
	user-select: none;
	transition: background-color var(--transition);
	position: relative;
}

.c-select[data-opened],
.c-select:hover {
	background: var(--accent-hover-color);
}

.c-select_prefix {
	align-self: center;
}

.c-select_options {
	position: absolute;
	display: flex;
	flex-direction: column;

	height: 0px;
	opacity: 0;

	top: calc(100% + 0.5rem);
	background-color: var(--accent-color);
	padding: 0.5rem 0;
	border-radius: 0.5rem;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	transition: height var(--transition);

	z-index: -1;
	box-shadow: 0px 0px 5px 0px var(--shadow-color);
}

.c-select[data-opened] .c-select_options {
	opacity: 1;
	height: auto;
	z-index: 100;
}

.c-select_options:empty:after {
	content: "Aucune option disponible";
	padding: 0.5rem 1rem;
}

.c-select_option {
	cursor: pointer;
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
}

.c-select_option:hover {
	background-color: var(--accent-hover-color);
}

.c-select_option:before {
	content: "check_box_outline_blank";
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: "liga";
	-webkit-font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
	width: 24px;
}

.c-select_option[data-selected]:before {
	content: "check_box";
}
