.c-select {
	position: relative;
	user-select: none;

	.c-select_button {
		background: var(--accent-color);
		color: var(--accent-text-color);
		padding: 0.5rem 1rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		vertical-align: middle;
		align-items: center;
		border-radius: 0.25rem;
		cursor: pointer;
		user-select: none;
		transition: background-color var(--transition);

		.c-select_prefix {
			align-self: center;
			text-wrap: nowrap;
		}

		.c-select_current {
			margin-left: 0.5rem;
			display: flex;
			flex-direction: row;
			gap: 0.5rem;
			overflow: hidden;
			/* width: 80%; */
			/* position: absolute; */
			flex-wrap: wrap;

			&:empty::before {
				content: '∅';
			}

			.c-select_chip {
				background-color: var(--background-secondary-color);
				color: var(--primary-text-color);
				padding: 0.25rem 0.5rem;
				border-radius: 1rem;
				display: inline-flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				gap: 0.5rem;
				transition: background-color var(--transition);

				&:hover {
					background-color: var(--accent-color);
				}

				.material-icons {
					font-size: 1rem;
					width: fit-content;
				}
			}
		}

		.material-icons {
			margin-left: auto;
		}
	}

	&[data-opened] .c-select_button,
	.c-select_button:hover {
		background: var(--accent-hover-color);
	}

	.c-select_options {
		min-width: 100%;
		flex-direction: column;

		display: none;
		height: fit-content;
		overflow: hidden;

		background-color: var(--accent-color);
		padding: 0.5rem 0;
		border-radius: 0.25rem;
		flex-direction: column;
		/* gap: 0.25rem; */

		transition: height var(--transition), opacity var(--transition);

		z-index: -1;
		box-shadow: 0px 0px 5px 0px var(--shadow-color);

		&:empty:after {
			content: 'Aucune option disponible';
			padding: 0.5rem 1rem;
		}

		.c-select_option {
			cursor: pointer;
			padding: 0.5rem 1rem;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			gap: 0.5rem;

			transition: background-color var(--transition);

			&:hover {
				background-color: var(--accent-hover-color);
			}

			&:before {
				content: 'check_box_outline_blank';
				font-family: 'Material Icons';
				font-weight: normal;
				font-style: normal;
				font-size: 24px;
				line-height: 1;
				letter-spacing: normal;
				text-transform: none;
				display: inline-block;
				white-space: nowrap;
				word-wrap: normal;
				direction: ltr;
				font-feature-settings: 'liga';
				-webkit-font-feature-settings: 'liga';
				-webkit-font-smoothing: antialiased;
				width: 24px;
			}

			&[data-selected]:before {
				content: 'check_box';
			}
		}
	}

	.c-tooltip .c-select_options {
		display: flex;
		animation: select-slide-down 250ms forwards ease-in-out;
	}
}

@keyframes select-slide-down {
	0% {
		opacity: 0;
		max-height: 0px;
	}
	50% {
		opacity: 1;
	}
	100% {
		/* opacity: 1; */
		max-height: min(100vh, 20rem);
	}
}
