{# 
    ======================================== 
                     Imports
    ========================================
    #}
    {% extends "base.twig" %}
    
    {# 
    ======================================== 
                     Assets
    ========================================
    #}
    {% block assets %}
        {{ parent() }}
        {{ setName('Login') }}
        {{ addCSS('css/Login.css') }}
    {% endblock %}
    
    {# 
    ======================================== 
                     Metas
    ========================================
    #}
    {% block title %}Se connecter{% endblock %}
    
    {# 
    ======================================== 
                      Body
    ========================================
    #}
    
{% block content %}
    <form>
        <h1 class="text">Se connecter</h1>
        <div class="input-text">
            <label>Nom d'utilisateur</label>
            <div class="text-box">
                <img src="//static.projet-web.fr/public/img/users.svg">
                <input type="text" required placeholder="Nom d'utilisateur">
            </div>
        </div>
        <div class="input-text">
            <label>Mot de passe</label>
            <div class="text-box">
                <img src="//static.projet-web.fr/public/img/Key.svg">
                <input type="text" required placeholder="Mot de passe">
            </div>
        </div>
        <div class="submit-button">
            <input type="button" value="Valider">
        </div>
        <div class="link">
            <a href="#">Mot de passe oublié ?</a>
            <a href="#">Créer un compte</a>
        </div>
    <form>
{% endblock %}
    
{% block templates append %}