* {
    overflow-x: hidden;
    font-family: sans-serif;
}
header{
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0.1%;
    box-shadow: 2px 2px 2px grey;
    background-color: #DEF7FF ;
    display: grid;
    grid-template-columns: 50% 45% 5%;
   nav a{
    color: #000;
    margin-right: 5%;
    text-decoration: none;
   }
   div{
    display: inline-block;
   }
}

.material-symbols-outlined,
    h1 {
        display: inline-block;
        align-items: center;
        }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}